@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  height: 100%;
}
.nav {
  display: flex;
  background-color: #333;
  align-items: center;
  justify-content: center;
}

.nav > a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #4caf50;
  color: white;
}

#showcase {
  background: url("img/oil.jpg") no-repeat center center/cover;
  background-position: center top;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#showcase h1 {
  width: 850px;
  font-size: 2.3rem;
  margin: 40px;
  text-align: center;
}

#main {
  height: 300px;
  width: 100%;
}

.intro {
  background-color: azure;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 10px;
  color: black;
  width: 750px;
  margin: auto;
}

.section {
  border-radius: 5px;
  padding: 20px;
  height: 400px;
}

.img {
  grid-column: 1 / span 1;
  background: url("img/l3.png") no-repeat;
  background-size: contain;
  background-position: right;
  margin: 20px;
}

.content {
  grid-column: 2 / span 2;
  text-align: justify;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  color: black;
  width: 100%;
  margin: auto;
}

.service {
  border-radius: 5px;
  padding: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ltk,
.cal,
.repair,
.sales {
  text-align: center;
  margin: 20px;
}

.fa {
  margin: 20px 0;
}
