@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  background-color: #333;
  align-items: center;
  justify-content: center;
}

.nav > a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #4caf50;
  color: white;
}

#showcase {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#showcase::before {
  content: "";
  background: url("img/oil.jpg") no-repeat center center/cover;
  background-position: center top;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

#showcase h1 {
  position: relative;
  width: 850px;
  font-size: 2.5rem;
  margin: 80px 40px;
  text-align: center;
  font-weight: 900;
}

#main {
  height: 400px;
  width: 100%;
}

.intro {
  background-color: #2e4a6f;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  color: black;
  width: 1000px;
  margin: auto;
}

.section {
  border-radius: 5px;
  padding: 20px;
  height: 400px;
}

.img {
  grid-column: 1 / span 1;
  background: url("img/l3.png") no-repeat;
  background-size: contain;
  background-position: right;
  margin: 20px;
}

.content {
  grid-column: 2 / span 2;
  text-align: justify;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}
.content h1 {
  margin-bottom: 12px;
  font-size: 2rem;
}

.content h3 {
  margin-top: 25px;
  font-weight: 300;
  font-size: 1.5rem;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 40%;
  background-color: #e08d28;
  height: 3px;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  color: black;
  background-color: #a49e9e;
  width: 100%;
  margin: auto;
  padding: 50px;
}

.service {
  border-radius: 5px;
  padding: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #e08d28;
}

.text {
  font-size: 1.4rem;
  font-weight: 700;
}

.description {
  font-size: 1.2rem;
}
.text {
  margin-bottom: 20px;
}

.fa {
  margin: 20px 0;
}

.ltk:hover,
.repair:hover,
.cal:hover,
.sales:hover {
  background: black;
  color: white;
  cursor: pointer;
}
