@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.msi {
  float: left;
}

.msi h1 {
  font-size: 1.4rem;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  margin: auto;
  font-size: 1.1rem;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

#showcase {
  position: relative;
  height: 95vh;
  display: flex;
  justify-content: center;
}

#showcase::before {
  content: "";
  background: url("img/oil.jpg") no-repeat center center/cover;
  background-position: center top;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

#showcase h1 {
  position: relative;
  width: 850px;
  font-size: 2.5rem;
  margin: 80px 40px;
  text-align: center;
  font-weight: 900;
}

/* What we do */

#main {
  height: 500px;
  width: 100%;
}

.intro {
  background-color: #2e4a6f;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  color: black;
  width: 1000px;
  margin: auto;
}

.section {
  border-radius: 5px;
  padding: 20px;
  height: 500px;
}

.img {
  grid-column: 1 / span 1;
  background: url("img/l3.png") no-repeat;
  background-size: contain;
  background-position: right;
  margin: 20px;
}

.content {
  grid-column: 2 / span 2;
  text-align: justify;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}
.content h1 {
  margin-bottom: 12px;
  font-size: 2rem;
}

.content h3 {
  font-weight: 300;
  font-size: 1.5rem;
}

/* Services */

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  color: black;
  background-color: #a49e9e;
  width: 100%;
  margin: auto;
  padding: 50px;
}

.service {
  border-radius: 5px;
  padding: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #e08d28;
}

.text {
  font-size: 1.4rem;
  font-weight: 700;
}

.description {
  font-size: 1.2rem;
}
.text {
  margin-bottom: 20px;
}

.fa {
  margin: 20px 0;
}

.ltk:hover,
.repair:hover,
.cal:hover,
.sales:hover {
  background: black;
  color: white;
  cursor: pointer;
}

/* Location */

.location {
  background-color: #2e4a6f;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  margin: auto;
  height: 500px;
}

.block {
  border-radius: 5px;
}

.map {
  margin: auto;
  margin-right: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  margin-left: 20px;
}
.block h1 {
  margin-bottom: 12px;
  font-size: 2rem;
  text-align: center;
}

.block h3 {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 60px;
  background-color: #e08d28;
  height: 3px;
  margin-bottom: 25px;
}

/* Footer */

footer {
  padding: 10px;
  text-align: center;
  font-weight: 500;
  background-color: #e08d28;
}

/* Leak Testing */

.benefits-section {
  background-color: #e08d28;
  height: 400px;
  display: flex;
  align-items: center;
}

.benefits {
  max-width: 750px;
  margin: auto;
  text-align: justify;
}

.benefits h2 {
  text-align: center;
  margin-bottom: 25px;
}

.benefits p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Second Section */

.split {
  margin: 0 auto;
  background-color: white;
  height: auto;
}

.split-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.split-img {
  margin: 30px 30px;
}

.split-img img {
  height: 400px;
  width: auto;
}

.split-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 350px;
  margin: 30px 30px;
  text-align: center;
}

.split-price h2 {
  font-size: 1.2rem;
  margin: 0 auto;
}

.split-price h3 {
  margin: 20px auto;
  font-size: 1rem;
}

table {
  font-size: 1.3rem;
  border-collapse: collapse;
  width: auto;
  margin: 0 auto;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: darkgray;
}

/* Third Section */

.other-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-color: #2e4a6f;
}

.other-heading {
  grid-area: heading;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.other-services-grid {
  display: grid;
  grid-template-areas:
    "heading heading heading heading heading heading"
    "emergency emergency emergency info info info"
    "details details details details details details";
}

.other-services-emergency {
  max-width: 400px;
  text-align: justify;
  margin: 0 20px;
  grid-area: emergency;
  color: white;
}

.other-services-emergency h3 {
  text-align: center;
  margin-bottom: 20px;
}

.other-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 20px;
  grid-area: info;
  color: white;
}

.other-info h3 {
  text-align: center;
  margin-bottom: 20px;
}

.other-info p {
  text-align: justify;
}

#heading {
  margin-bottom: 20px;
}

.details {
  margin: 40px auto;
  max-width: 750px;
  grid-area: details;
  text-align: center;
}

.repair-grid {
  height: 400px;
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-areas: "img-1 repair-text repair-text repair-text img-2";
  display: flex;
  justify-content: center;
  align-items: center;
}

.repair-text {
  grid-area: repair-text;
  text-align: justify;
}

.img-1 {
  grid-area: img-1;
}

.img-2 {
  grid-area: img-2;
}

/* Test */
.heading {
  position: relative;
  height: 20vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
  background-color: #a49e9e;
}

.heading::before {
  content: "";
  background: url("img/oil.jpg") no-repeat center center/cover;
  background-position: center top;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.heading h1 {
  position: relative;
  width: 850px;
  font-size: 2.5rem;
  margin: 0 40px;
  text-align: center;
  font-weight: 900;
}
